
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:wght@300&family=Roboto&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
      height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* 🔥 fundo animado */
    background: linear-gradient(270deg,#22C1C3, #FDBB2D);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;

}


body.dark-mode {
  background: linear-gradient(270deg, #0f2040, #203a43, #2c5364);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
   color: #fff;
}

body.dark-mode .relogio div {
  background: rgba(255, 255, 255, 0.08);
  color: #00ffea;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
}

body.dark-mode .relogio div.active {
  box-shadow: 0 4px 30px rgba(0, 255, 200, 0.8);
}



@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.relogio {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
     height: 200px; 
     width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);

}

.relogio  div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px;
    border-radius: 7px;
    letter-spacing: 3px;
  /* ✨ efeito padrão */
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: box-shadow 0.5s ease;
}

.relogio div.active {
    box-shadow: 0 4px 30px rgba(255, 150, 50, 0.8);
}


.relogio span {
    font-weight: bolder;
font-size: 60px;
 transition: all 0.3s ease; /* transição suave */
}


.relogio span.change {
    opacity: 0;
    transform: translateY(-10px);
}

.relogio span.tempo {
    font-size: 10px;
}

#toggle-dark {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  font-weight: bold;
}